{% extends 'res_base.html' %}
{% load blog_tags %}
{% block main %}
        {% if err_msg %}
        <p>{{ err_msg }}</p>
        {% endif %}
                    {% for res in res_list %}
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href={% url 'resource:download' res.pk %} class="text-danger"><strong>{{ res.res_name }}</strong></a>
                            </h1>
                            <div class="entry-meta">
                                <span ><a href="#">类型:{{res.cate }}</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                          >该资源由{{res.upload_user }}上传于{{ res.create_time|date:'Y年m月d日 H:i:s' }}</time></a></span>
                                <span ><a href="#">下载量:{{ res.download}} </a></span>
                                 <span ><a href="#">大小:{{ res.size|div}} </a></span>
                            </div>
                        </header>
                    {% empty %}
                        <div class="no-post">暂无可下载资源,欢迎大家添加</div>
                {% endfor %}
        {% if is_paginated %}
            <div class="pagination-simple">
  <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
  {% endif %}
  <!-- 显示当前页面信息 -->
  <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
  <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}