<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        {% if err_msg %}
        <p class="text-danger">{{ err_msg }}</p>
        {% endif %}
<form method="post" action="{% url "resource:upload" %}" enctype="multipart/form-data">
    {% csrf_token %}
         <div style = "max-width:470px;">
             <label for="{{ form.file.id_for_label }}">您要上传的文件：</label>
        {{ form.file }}
             </br>
             <lable for="{{ form.cate.id_for_label }}" ></lable>
             {{ form.cate }}
         </div>
         <br>
         <div style = "max-width:470px;">
               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "上传" >
                   上传
               </button>
         </div>
</form>
</body>
</html>