{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
        <link rel="stylesheet" href={% static "blog/css/bootstrap.min.css" %} />
        <link rel="stylesheet" href={% static "blog/css/style.css" %} />
        <script src={% static "blog/js/bootstrap.min.js" %}></script>
    </head>
    <body>
        <form action="{% url "blog:mail_active" %}" method="post">
             {% csrf_token %}
            <div class="mycenter">
            <div class="mysign">
                <div class="col-lg-11 text-center text-info">
                    <h2>激活账号</h2>
                </div>
                <div class="col-lg-10">
                     <label >用户名：</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div class="col-lg-10">
                    <button  class="btn btn-success col-lg-12">发送激活邮件</button>
                </div>
                </br>
                {% if err_msg %}
                <div class="col-lg-10">
                <p class="text-success">{{ err_msg }} <a href="{% url "blog:login" %}">点此直接登录</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
        </form>
    </body>
</html>
