{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>博客</title>
    <style>

</style>
     <link href={% static "blog/css/bootstrap.min14ed.css"%} rel="stylesheet">
    <link href={% static "blog/css/font-awesome.min93e3.css" %} rel="stylesheet">

    <link href={% static "blog/css/animate.min.css" %}rel="stylesheet">
    <link href={% static "blog/css/style.min862f.css" %}rel="stylesheet">

    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>
<body >
 <div class="middle-box fadeInDown animated text-center center">
             <div>

                <h1 class="logo-name">HL</h1>

            </div>
    <h3>博客</h3>

<form method = 'post' enctype="multipart/form-data">

    {% csrf_token %}
    <label >用户名：<input type="text" name="user_name" /></label>
    <label >密码：<input type="password" name="pass_wd" /></label>
  <button type="submit" class="btn btn-primary block full-width m-b">登录</button>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <p class="text-muted text-center"> <a href="#"><small>忘记密码了？</small></a> | <a href={% url 'blog:register' %}>注册一个新账号</a>
    </p>
</form>
</div>
   <script src={% static "blog/js/jquery.min.js?v=2.1.3" %}></script>
    <script src={% static "blog/js/bootstrap.min.js" %}></script>
</body>
</html>