{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
        <link rel="stylesheet" href={% static "css/bootstrap.min.css" %} />
        <link rel="stylesheet" href={% static "css/style.css" %} />
        <script src={% static "js/bootstrap.min.js" %}></script>
    </head>
    <body>
        <form action="#" method="post">
             {% csrf_token %}
            <div class="mycenter">
            <div class="mysign">
                <div class="col-lg-11 text-center text-info">
                    <h2>欢迎访问本站</h2>
                </div>
                <div class="col-lg-10">
                    <label for="{{ uf.username.id_for_label }}"><span class="glyphicon glyphicon-user"></span>用户名：</label>
                    {{ uf.username }}
                </div>
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    <label  for="{{ uf.password.id_for_label }}"><span class="glyphicon glyphicon-floppy-open"></span>密码：</label>
                            {{ uf.password }}
                </div>
                <div class="col-lg-10"></div>
                <div class="col-lg-10 ">
                    <p class="text-muted text-center"> <a href="#"><small>忘记密码了？</small></a> |<a href="{% url "blog:mail_active" %}"><small>账号需要激活？</small></a> | <a href={% url 'blog:register' %}><small>注册一个新账号</small></a>
    </p><a href="{% url "blog:mail_active" %}"><small>账号需要激活？</small></a> | <a href={% url 'blog:register' %}><small>注册一个新账号</small></a>
    </p>
                </div>
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-success col-lg-12">登录</button>
                </div>
            </div>
        </div>
        </form>
    </body>
</html>
