{% extends 'base.html' %}

{% block main %}
                        <form  method="post" class="comment-form">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-md-4">
                              <label>标题：<input type="text" name="title" /></label>
                            </div>
                            <div class="col-md-4">
                              <label >分类：<input type="text" name="cate" /></label>
                            </div>

                                  <div class="col-md-4">
                              <label >标签：<input type="text" name="tag" /></label>
                            </div>
                              <div class="col-md-12">
                              <label >正文：<input type="text" name="body" /></label>
                                   <button type="submit" class="btn btn-primary">发表</button>
                            </div>
                          </div>    <!-- row -->
                        </form>
{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">目录</h3>
        <ul>
            <li>
                <a href="#">发表文章</a>
            </li>
            <li>
                <a href="#">资源列表</a>
            </li>
            <li>
                <a href="#">优化和建议</a>
            </li>
        </ul>
    </div>
{% endblock toc %}