{% load staticfiles %}
{% load blog_tags %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
    {% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href={% static  "blog/css/base_1.css"%} rel="stylesheet">
<link href={% static  "blog/css/index_1.css" %} rel="stylesheet">
<link href={% static  "blog/css/m.css"%} rel="stylesheet">
        <link rel="stylesheet" href={% static "blog/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href={% static "blog/css/pace.css" %}>
    <link rel="stylesheet" href={% static "blog/css/custom.css" %}>
    <link rel="stylesheet" href={% static "blog/css/highlights/github.css" %}>
        <link rel="shortcut icon" href={% static "blog/images/favicon.ico" %}>
<script src={% static  "blog/js/jquery.min.js" %} type="text/javascript"></script>
<script src={% static  "blog/js/layer.js" %} type="text/javascript"></script>
<!--[if lt IE 9]>
<script src={% static  "blog/js/modernizr.js" %}></script>
<![endif]-->
    {% endblock css %}
</head>
<body>
<header>
<nav class="navbar navbar-default">
<div class=" navbar-collapse collapse " style="text-align: center">
    	<div class="navbar-header">
		<a class="navbar-brand" href="#">知识图谱专区</a>
	</div>
    <ul class="nav nav-pills">
        <li {% if request.path|slice:"1" == "" %} class="active" {% endif %} ><a href="{% url "blog:index" %}"><h3>首页</h3></a></li>
        <li {% if request.path|slice:"8" == "/onlinetool" %} class="active" {% endif %}><a href="#"><h3>在线工具</h3></a></li>
        <li {% if request.path|slice:"8" == "/knowled" %} class="active" {% endif %}><a href="{% url "knowledge:knowledge"  1 %}"><h3>知识图谱</h3></a></li>
    </ul>
</div>
</nav>
</header>
{% block body %}
{% endblock body %}
  <div class="rightbox">
  <div class="blank"></div>
    <div class="search">
      <form action="{% url "knowledge:knsearch" %}" method="post" name="searchform" id="searchform">
          {% csrf_token %}
        <input name="keyboard" id="keyboard"  class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <button type="submit"><span class="ion-ios-search-strong"></span></button>
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
        {% hot_article as article %}
        {% for post in article %}
        {% if post.category.name == "知识图谱"%}
      <ul>
        <li><b><a href="{% url "knowledge:details" post.pk%}" target="">{{ post.title }}</a></b>
          <p>{{ post.body|truncatechars:54 }}</p>
        </li>
      </ul>
               {% endif %}
                   {% empty %}
            暂无推荐
        {% endfor %}
   <!--<div class="ad"><img src={% static "blog/images/ad300x100.jpg"%}></div>-->
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="#">点击排行</a></h2>
    {% get_recent_psots as post_list %}
        {% for post in post_list %}
            {% if post.category.name == "知识图谱"%}
      <ul>
        <li><b><a href="{% url "knowledge:details" post.pk%}" target="_blank">{{ post.title }}</a></b>
          <p>{{ post.body|truncatechars:54 }}</p>
        </li>
      </ul>
            {% endif %}
            {% empty %}
            暂无文章
        {% endfor %}
      <!--<div class="ad"><img src={% static "blog/images/ad01.jpg"%}></div>-->
    </div>
    <div class="weixin">
      <h2 class="ab_title">微信关注</h2>
      <ul>
          <h4>微信公众号：KnowledgeGraph_SUFE</h4>
        <img src={% static "blog/images/knowledge.jpg"%}>
      </ul>
    </div>
  </div>
</article>
{% block foot %}
<footer>
  <p>Design by <a href="/">个人博客</a> <a href="/">滇ICP备18009362号</a></p>
</footer>
{% endblock foot %}
<script src='{% static "blog/js/jquery.js" %}'></script>
<script src='{% static "blog/editor/lib/marked.min.js" %}'></script>
<script src='{% static "blog/editor/lib/prettify.min.js" %}'></script>
<script src='{% static "blog/editor/lib/raphael.min.js" %}'></script>
<script src='{% static "blog/editor/lib/underscore.min.js" %}'></script>
<script src='{% static "blog/editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "blog/editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "blog/editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "blog/editor/editormd.js" %}'></script>

</body>
</html>
